@{
    ViewBag.Title = "Administrador";
}
<style>
    /*.container.body-content {
        .container.body-content
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .content-container {
        width: 100%;*/ /* El contenedor ocupa todo el ancho */
    /*text-align: center;*/ /* Opcional: centra el contenido dentro del contenedor */
    /*}*/

    .full-width-img-container {
        width: 100%; /* La imagen ocupa todo el ancho del contenedor */
        height: 40%; /* La imagen ocupa toda la altura de la ventana */
    }

    span {
        color: #ff6a00
    }

    /*h2 {
        text-align: center;
    }*/

    .container_div {
        margin-bottom: 20px;
    }
</style>

@*<div class="col-md-6 content-container">
        <img src="~/Content/Imágenes/detodito.jpeg" class="full-width-img-container w-100" />
    </div>*@

<div style="text-align: center; color: #000000; font-weight: bold; font-size: 1.1em;">
    Bienvenido a <span>GYMse</span> el gimnasio de tu sede <span style="color: #ff6a00; ">SENA</span>
</div>
<img class="full-width-img-container w-100" src="~/Content/Imágenes/detodito (1).jpeg" alt="ola">
